.vtex-store-components-3-x-simulateShipping .vtex-input {
  height: 100%;
}

.vtex-store-components-3-x-simulateShipping .vtex-input input {
  padding: 10px 5px;
  color: #4f4f4f;
  border: 1px solid #e3e4e6;
  border-radius: 2px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vtex-seller-selector-0-x-simulateShipping .vtex-button {
  border-radius: 2px;
  width: auto;
  height: 3.8rem;
  margin-left: 0.875rem;
  margin-top: 0.875rem;
}

.spinnerContainer{      
  margin-left: 0.875rem;
  margin-top: 1.5rem;
}

.vtex-seller-selector-0-x-sellerMasterContainer h1{
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.vtex-seller-selector-0-x-sellerShippingText , .vtex-seller-selector-0-x-sellerPriceShippingText{
  padding: 5px;;
  min-height: 50px;
}

.vtex-seller-selector-0-x-sellerShippingText:nth-child(even) , .vtex-seller-selector-0-x-sellerPriceShippingText:nth-child(even){
  background-color: #b0b0b085;
}

@media only screen and (max-width: 540px) {
  .vtex-seller-selector-0-x-simulateShipping{
    flex-direction: column;
    padding: 10px;
    margin: 35px;
  }
  .vtex-seller-selector-0-x-sellerName{
    background: #cacbcc;
    border-radius: 0px;
  }
}